![alt tag](https://codelearn.io/Upload/Blog/xu-ly-du-lieu-voi-pandas-trong-python-63725977973.8696.jpg)

# **What is Pandas**
Th∆∞ vi·ªán **Pandas** cung c·∫•p c√°c c·∫•u tr√∫c d·ªØ li·ªáu hi·ªáu su·∫•t cao, d·ªÖ s·ª≠ d·ª•ng v√† c√°c c√¥ng c·ª• ph√¢n t√≠ch d·ªØ li·ªáu. C·∫•u tr√∫c d·ªØ li·ªáu ch√≠nh l√† DataFrame, c√≥ th·ªÉ coi ƒë√¢y l√† m·ªôt b·∫£ng 2D trong b·ªô nh·ªõ (gi·ªëng nh∆∞ m·ªôt b·∫£ng t√≠nh, v·ªõi t√™n c·ªôt v√† nh√£n). Nhi·ªÅu t√≠nh nƒÉng c√≥ s·∫µn trong Excel c√≥ s·∫µn theo ch∆∞∆°ng tr√¨nh, ch·∫≥ng h·∫°n nh∆∞ t·∫°o b·∫£ng t·ªïng h·ª£p, t√≠nh to√°n c·ªôt d·ª±a tr√™n c√°c c·ªôt kh√°c, v·∫Ω bi·ªÉu ƒë·ªì, v.v. C√≥ th·ªÉ nh√≥m c√°c h√†ng theo gi√° tr·ªã c·ªôt ho·∫∑c n·ªëi c√°c b·∫£ng gi·ªëng nh∆∞ trong SQL. **Pandas** c≈©ng r·∫•t gi·ªèi trong vi·ªác x·ª≠ l√Ω chu·ªói th·ªùi gian. üêº

# **Reference**
https://github.com/ageron/handson-ml2/blob/ce94de16f017f78b0991a3d3ae18b3de70b15118/tools_numpy.ipynb

# **Pandas: Import**

Import th∆∞ vi·ªán **pandas**. H·∫ßu h·∫øt m·ªçi ng∆∞·ªùi s·ª≠ d·ª•ng n√≥ d∆∞·ªõi d·∫°ng **pd**

In [2]:
import pandas as pd

# **DataFrame Objects**
**DataFrame Objects** ƒë·∫°i di·ªán cho m·ªôt b·∫£ng t√≠nh (nh∆∞ excel, sheet), v·ªõi c√°c gi√° tr·ªã √¥, ch·ªâ m·ª•c c·ªôt, ch·ªâ m·ª•c d√≤ng

**DataFrame** cho ph√©p x√°c ƒë·ªãnh c√°c bi·ªÉu th·ª©c t√≠nh to√°n c√°c c·ªôt d·ª±a tr√™n c√°c c·ªôt kh√°c, t·∫°o b·∫£ng t·ªïng h·ª£p, nh√≥m c√°c h√†ng, v·∫Ω ƒë·ªó th√¨, ...

C√≥ th·ªÉ xen **DataFrames** l√† cu·ªën t·ª´ ƒëi·ªÉn c·ªßa **Series**

### **Creating a DataFrame (T·∫°o 1 DataFrame)**

**C√ÅCH 1**

In [3]:
# T·∫°o DataFrame b·∫±ng c√°ch t·ªïng h·ª£p c√°c Series
football = {
            "Score": pd.Series([124, 117, 107, 103, 99], index=["Bayern Munich", "Manchester City", "Barcelona", "PSG", "Juventus"]),
            "Country": pd.Series(["Germany", "England", "Spain", "Italy"], index=["Bayern Munich", "Manchester City", "Barcelona", "Juventus"]),
            "Founding": pd.Series([1900, 1880, 1899, 1970, 1897], index=["Bayern Munich", "Manchester City", "Barcelona", "PSG", "Juventus"], name="year"),
            "UEFA_Champion_League": pd.Series([6, 5, 2, 0, 0], index=["Bayern Munich", "Barcelona", "Juventus", "Manchester City", "PSG"], dtype=int)
}
football_club = pd.DataFrame(football)
football_club

                 Score  Country  Founding  UEFA_Champion_League
Barcelona          107    Spain      1899                     5
Bayern Munich      124  Germany      1900                     6
Juventus            99    Italy      1897                     2
Manchester City    117  England      1880                     0
PSG                103      NaN      1970                     0

**R√∫t ra nh·∫≠n x√©t:**
* C√°c gi√° tr·ªã ƒë∆∞·ª£c cƒÉn ch·ªânh t·ª± ƒë·ªông
* C√°c √¥ gi√° tr·ªã b·ªã thi·∫øu ƒë∆∞·ª£c thay th·∫ø b·∫±ng **NaN**

V√† t·∫•t nhi√™n ch√∫ng ta c√≥ quy·ªÅn truy xu·∫•t c√°c gi√° tr·ªã, c√°c d√≤ng, c√°c c·ªôt

In [4]:
football_club["Founding"]

Barcelona          1899
Bayern Munich      1900
Juventus           1897
Manchester City    1880
PSG                1970
Name: Founding, dtype: int64

In [5]:
football_club[["Founding", "Score"]]

                 Founding  Score
Barcelona            1899    107
Bayern Munich        1900    124
Juventus             1897     99
Manchester City      1880    117
PSG                  1970    103

**Khi chuy·ªÉn sang DataFrame kh√°c**, c√°c **columns** v√† **index** ph·∫£i ƒë·∫£m b·∫£o ƒë√£ c√≥, n·∫øu kh√¥ng s·∫Ω xu·∫•t ra **NaN**
> V√≠ d·ª•, C·ªôt **ranking** v√† index **Manchester United** kh√¥ng xu·∫•t hi·ªán trong **football_club**

In [6]:
football_club2 = pd.DataFrame(football_club,
                              columns = ["Score", "Country", "Ranking"],
                              index = ["PSG", "Bayern Munich", "Manchester United"])
football_club2

                   Score  Country  Ranking
PSG                103.0      NaN      NaN
Bayern Munich      124.0  Germany      NaN
Manchester United    NaN      NaN      NaN

**C√ÅCH 2**

In [7]:
# T·∫°o tr∆∞·ªõc m·ªôt ndarrays
arr = [
       ["15/09/2002", "Male", 52, "1m65"],
       ["24/5/2004", "Male", 47, "1m60"],
       ["09/02/2001", "Female", 56, "1m72"],
       ["09/12/2002", "Male", 67, "1m80"],
       ["14/01/2000", "Female", 48, "1m62"],
]
# T·∫°o DataFrame d·ª±a tr√™n ndarrays, b·ªï sung th√™m columns v√† index
people = pd.DataFrame(arr,
                      columns=["Birthday", "Sex", "Weight", "Height"],
                      index=["Kiet", "Thang", "Phuc", "Toan", "Luu"])
people

         Birthday     Sex  Weight Height
Kiet   15/09/2002    Male      52   1m65
Thang   24/5/2004    Male      47   1m60
Phuc   09/02/2001  Female      56   1m72
Toan   09/12/2002    Male      67   1m80
Luu    14/01/2000  Female      48   1m62

C√≥ th·ªÉ t·∫°o DataFrame t·ª´ m·ªôt ph·∫ßn DataFrame ƒë√£ c√≥

In [8]:
people2 = pd.DataFrame(people,
                       columns=["Sex", "Weight"],
                       index=["Kiet", "Phuc", "Luu"])
people2

         Sex  Weight
Kiet    Male      52
Phuc  Female      56
Luu   Female      48

**C√ÅCH 3**

In [9]:
# Li·ªát k√™ danh s√°ch trong t·ª´ng columns
people3 = pd.DataFrame(
    {
        "Birthday": {"Kiet":2002, "Thang": 2003, "Luu": 1997},
        "Sex": {"Kiet": "Male", "Thang": "Female", "Luu": "Female"},
        "Weight": {"Kiet":52, "Luu": 70, "Thang": 56},
        "Height": {"Kiet": "1m65", "Luu": "1m70", "Thang": "1m56"}
})
people3

       Birthday     Sex  Weight Height
Kiet       2002    Male      52   1m65
Thang      2003  Female      56   1m56
Luu        1997  Female      70   1m70

### **Multi-indexing**
> N·∫øu t·∫•t c·∫£ c√°c c·ªôt ho·∫∑c c√°c d√≤ng l√† c√°c d·ªØ li·ªáu c√≥ c√πng k√≠ch th∆∞·ªõc th√¨ ch√∫ng ƒë∆∞·ª£c hi·ªÉu l√† m·ªôt ch·ªâ m·ª•c ƒëa

In [10]:
people4 = pd.DataFrame(
    {
        ("Public", "Birthday"): {("Khu vuc mien Trung", "Kiet"):2002, ("Khu vuc mien Trung", "Luu"): 1997, ("Khu vuc mien Nam", "Thang"): 2003},
        ("Public", "Sex"): {("Khu vuc mien Trung", "Kiet"): "Male", ("Khu vuc mien Trung", "Luu"): "Female", ("Khu vuc mien Nam", "Thang"): "Female"},
        ("Private", "Weight"): {("Khu vuc mien Trung", "Kiet"):52, ("Khu vuc mien Trung", "Luu"): 70, ("Khu vuc mien Nam", "Thang"): 56},
        ("Private", "Height"): {("Khu vuc mien Trung", "Kiet"): "1m65", ("Khu vuc mien Trung", "Luu"): "1m70", ("Khu vuc mien Nam", "Thang"): "1m56"}
})
people5 = pd.DataFrame.copy(people4)
people4

                           Public         Private
                         Birthday     Sex  Weight Height
Khu vuc mien Trung Kiet      2002    Male      52   1m65
                   Luu       1997  Female      70   1m70
Khu vuc mien Nam   Thang     2003  Female      56   1m56

Truy xu·∫•t c√°c gi√° tr·ªã, d√≤ng, c·ªôt t∆∞∆°ng t·ª± nh∆∞ 1 **DataFrame** b√¨nh th∆∞·ªùng

In [11]:
people4["Public"]

                          Birthday     Sex
Khu vuc mien Trung Kiet       2002    Male
                   Luu        1997  Female
Khu vuc mien Nam   Thang      2003  Female

In [12]:
people4["Private", "Height"]

Khu vuc mien Trung  Kiet     1m65
                    Luu      1m70
Khu vuc mien Nam    Thang    1m56
Name: (Private, Height), dtype: object

### **Dropping a level**
> Gi·∫£m c·∫•p ƒë·ªô cho c·ªôt ho·∫∑c d√≤ng

In [13]:
people4

                           Public         Private
                         Birthday     Sex  Weight Height
Khu vuc mien Trung Kiet      2002    Male      52   1m65
                   Luu       1997  Female      70   1m70
Khu vuc mien Nam   Thang     2003  Female      56   1m56

**DataFrame people4** c√≥ 2 c·∫•p ƒë·ªô cho m·ªói d√≤ng v√† c·ªôt t∆∞∆°ng ·ª©ng, ƒë∆∞·ª£c bi·ªÉu di·ªÖn b·∫±ng **level = 0** v√† **level = 1**

In [14]:
people4.columns = people4.columns.droplevel(level = 0)
people4

                          Birthday     Sex  Weight Height
Khu vuc mien Trung Kiet       2002    Male      52   1m65
                   Luu        1997  Female      70   1m70
Khu vuc mien Nam   Thang      2003  Female      56   1m56

In [15]:
people4.index = people4.index.droplevel(level = 0)
people4

       Birthday     Sex  Weight Height
Kiet       2002    Male      52   1m65
Luu        1997  Female      70   1m70
Thang      2003  Female      56   1m56

### **Transposing (Ho√°n ƒë·ªïi)**
> Ho√°n ƒë·ªïi c√°c **columns** v√† **index** v·ªõi nhau (ƒëi·ªÅu n√†y c√≥ th·ªÉ ph·ª•c v·ª• cho v·∫•n ƒë·ªÅ th·∫©m m·ªπ)

In [16]:
people_trans = people5.T
people_trans

                 Khu vuc mien Trung         Khu vuc mien Nam
                               Kiet     Luu            Thang
Public  Birthday               2002    1997             2003
        Sex                    Male  Female           Female
Private Weight                   52      70               56
        Height                 1m65    1m70             1m56

### **Accessing rows (Truy c·∫≠p ƒë·∫øn c√°c d√≤ng)**

In [17]:
football_club

                 Score  Country  Founding  UEFA_Champion_League
Barcelona          107    Spain      1899                     5
Bayern Munich      124  Germany      1900                     6
Juventus            99    Italy      1897                     2
Manchester City    117  England      1880                     0
PSG                103      NaN      1970                     0

Thu·ªôc t√≠nh **$loc$** cho ph√©p truy c·∫≠p h√†ng b·∫±ng **index** c·ªßa h√†ng ƒë√≥

In [18]:
football_club.loc["PSG"]

Score                    103
Country                  NaN
Founding                1970
UEFA_Champion_League       0
Name: PSG, dtype: object

Thu·ªôc t√≠nh **$iloc$** cho ph√©p truy c·∫≠p h√†ng b·∫±ng **ch·ªâ s·ªë** c·ªßa h√†ng ƒë√≥

In [19]:
football_club.iloc[1] # people.loc["Bayern Munich"]

Score                       124
Country                 Germany
Founding                   1900
UEFA_Champion_League          6
Name: Bayern Munich, dtype: object

Thu·ªôc t√≠nh **$iloc$** cho ph√©p truy c·∫≠p c√°c h√†ng trong m·ªôt ƒëo·∫°n c·ª• th·ªÉ

In [20]:
football_club.iloc[0:3]

               Score  Country  Founding  UEFA_Champion_League
Barcelona        107    Spain      1899                     5
Bayern Munich    124  Germany      1900                     6
Juventus          99    Italy      1897                     2

Truy c·∫≠p b·∫±ng **boolean** th√¥ng qua **np.array**

In [21]:
import numpy as np

In [22]:
football_club[np.array([True, False, True, True, False])]

                 Score  Country  Founding  UEFA_Champion_League
Barcelona          107    Spain      1899                     5
Juventus            99    Italy      1897                     2
Manchester City    117  England      1880                     0

Truy c·∫≠p b·∫±ng ƒëi·ªÅu ki·ªán

In [23]:
football_club[football_club["UEFA_Champion_League"] > 1]

               Score  Country  Founding  UEFA_Champion_League
Barcelona        107    Spain      1899                     5
Bayern Munich    124  Germany      1900                     6
Juventus          99    Italy      1897                     2

### **Adding and removing columns (Thao t√°c th√™m/x√≥a c·ªôt)**

In [24]:
football_club

                 Score  Country  Founding  UEFA_Champion_League
Barcelona          107    Spain      1899                     5
Bayern Munich      124  Germany      1900                     6
Juventus            99    Italy      1897                     2
Manchester City    117  England      1880                     0
PSG                103      NaN      1970                     0

Th√™m c·ªôt ƒë∆°n gi·∫£n b·∫±ng vi·ªác th√™m **Series**

In [25]:
football_club["Value(M)"] = pd.Series(["512", "411", "391", "300", "268"], index=["PSG", "Manchester City", "Manchester United", "Bayern Munich", "Barcelona"])

In [26]:
football_club

                 Score  Country  Founding  UEFA_Champion_League Value(M)
Barcelona          107    Spain      1899                     5      268
Bayern Munich      124  Germany      1900                     6      300
Juventus            99    Italy      1897                     2      NaN
Manchester City    117  England      1880                     0      411
PSG                103      NaN      1970                     0      512

Th√™m c·ªôt b·∫±ng ph∆∞∆°ng th·ª©c **insert()**

In [27]:
football_club.insert(2, "Championship", [26, 31, 36, 7, 9]) # (Th·ª© t·ª± c·ªôt, t√™n c·ªôt, d·ªØ li·ªáu)

In [28]:
football_club

                 Score  Country  ...  UEFA_Champion_League  Value(M)
Barcelona          107    Spain  ...                     5       268
Bayern Munich      124  Germany  ...                     6       300
Juventus            99    Italy  ...                     2       NaN
Manchester City    117  England  ...                     0       411
PSG                103      NaN  ...                     0       512

[5 rows x 6 columns]

Th√™m c·ªôt b·∫±ng quan h·ªá v·ªõi c√°c c·ªôt kh√°c

In [29]:
football_club["Age"] = 2021 - football_club["Founding"]
football_club["Top_5_in_Europe"] = football_club["Score"] > 110

In [30]:
football_club

                 Score  Country  Championship  ...  Value(M)  Age Top_5_in_Europe
Barcelona          107    Spain            26  ...       268  122           False
Bayern Munich      124  Germany            31  ...       300  121            True
Juventus            99    Italy            36  ...       NaN  124           False
Manchester City    117  England             7  ...       411  141            True
PSG                103      NaN             9  ...       512   51           False

[5 rows x 8 columns]

X√≥a c·ªôt b·∫±ng **del**

In [31]:
del football_club["Age"]

X√≥a c·ªôt b·∫±ng ph∆∞∆°ng th·ª©c **pop()**

In [32]:
rm = football_club.pop("Top_5_in_Europe") # D·ªØ li·ªáu c·ªôt ƒë∆∞·ª£c l∆∞u v√†o bi·∫øn 'rm'

In [33]:
football_club

                 Score  Country  ...  UEFA_Champion_League  Value(M)
Barcelona          107    Spain  ...                     5       268
Bayern Munich      124  Germany  ...                     6       300
Juventus            99    Italy  ...                     2       NaN
Manchester City    117  England  ...                     0       411
PSG                103      NaN  ...                     0       512

[5 rows x 6 columns]

### **Evaluating an expression**
> ƒê√°nh gi√° m·ªôt bi·ªÉu th·ª©c b·∫±ng vi·ªác th√™m c·ªôt v√†o cu·ªëi ƒë·ªÉ d·ªÖ d√†ng ƒë√°nh gi√°
> 
> **inplace** m·∫∑c ƒë·ªãnh l√† False, t·ª©c l√† t·∫°o b·∫£ng sao c·ªßa DataFrame ban ƒë·∫ßu v√† thao t√°c tr√™n ƒë√≥ s·∫Ω kh√¥ng ·∫£nh h∆∞·ªüng ƒë·∫øn DataFrame g·ªëc, ng∆∞·ª£c l·∫°i **inplace** = True s·∫Ω thao t√°c tr·ª±c ti·∫øp tr·ª±c ti·∫øp tr√™n DataFrame g·ªëc

In [34]:
football_club.eval("Average_Championship_Time = (2021 - Founding)/Championship")

                 Score  Country  ...  Value(M)  Average_Championship_Time
Barcelona          107    Spain  ...       268                   4.692308
Bayern Munich      124  Germany  ...       300                   3.903226
Juventus            99    Italy  ...       NaN                   3.444444
Manchester City    117  England  ...       411                  20.142857
PSG                103      NaN  ...       512                   5.666667

[5 rows x 7 columns]

S·ª≠ d·ª•ng **@** ƒë·ªÉ truy c·∫≠p bi·∫øn to√†n c·ª•c do m√¨nh t·∫°o ra

In [35]:
avg_time_threshold = 5
football_club.eval("Average_Championship_Time_Check = (2021 - Founding)/Championship > @avg_time_threshold", inplace=True)
football_club

                 Score  Country  ...  Value(M)  Average_Championship_Time_Check
Barcelona          107    Spain  ...       268                            False
Bayern Munich      124  Germany  ...       300                            False
Juventus            99    Italy  ...       NaN                            False
Manchester City    117  England  ...       411                             True
PSG                103      NaN  ...       512                             True

[5 rows x 7 columns]

### **Querying a DataFrame (Truy v·∫•n DataFrame)**
> Truy v·∫•n m·ªôt DataFrame theo c√°c ƒëi·ªÅu ki·ªán ƒë·∫∑t ra, k·∫øt qu·∫£ tr·∫£ v·ªÅ l√† c√°c d√≤ng th·ªèa ƒëi·ªÅu ki·ªán ƒë√≥

In [36]:
spain = "Spain"
football_club.query("Country == @spain")

           Score Country  ...  Value(M)  Average_Championship_Time_Check
Barcelona    107   Spain  ...       268                            False

[1 rows x 7 columns]

In [37]:
football_club.query("Score >= 105 and UEFA_Champion_League >= 1")

               Score  Country  ...  Value(M)  Average_Championship_Time_Check
Barcelona        107    Spain  ...       268                            False
Bayern Munich    124  Germany  ...       300                            False

[2 rows x 7 columns]

### **Sorting a DataFrame (S·∫Øp x·∫øp DataFrame)**

**sort_index** s·∫Øp x·∫øp c√°c ch·ªâ m·ª•c d√≤ng

In [38]:
football_club.sort_index(ascending=False) #ascending=False l√† ƒë·∫£o ng∆∞·ª£c th·ª© t·ª± c·ªßa ch·ªâ m·ª•c d√≤ng

                 Score  Country  ...  Value(M)  Average_Championship_Time_Check
PSG                103      NaN  ...       512                             True
Manchester City    117  England  ...       411                             True
Juventus            99    Italy  ...       NaN                            False
Bayern Munich      124  Germany  ...       300                            False
Barcelona          107    Spain  ...       268                            False

[5 rows x 7 columns]

S·∫Øp x·∫øp c√°c ch·ªâ m·ª•c c·ªôt c≈©ng g·ªçi **sort_index** v√† th√™m **axis=1**

In [39]:
football_club.sort_index(axis=1, inplace=True)
football_club

                 Average_Championship_Time_Check  ...  Value(M)
Barcelona                                  False  ...       268
Bayern Munich                              False  ...       300
Juventus                                   False  ...       NaN
Manchester City                             True  ...       411
PSG                                         True  ...       512

[5 rows x 7 columns]

**sort_values** ƒë∆∞·ª£c s·ª≠ d·ª•ng ƒë·ªÉ s·∫Øp x·∫øp c√°c gi√° tr·ªã theo c·ªôt ch·ªâ ƒë·ªãnh

In [40]:
football_club.sort_values(by="Score", ascending=False)  #ascending=False ƒë·ªÉ s·∫Øp x·∫øp gi·∫£m d·∫ßn

                 Average_Championship_Time_Check  ...  Value(M)
Bayern Munich                              False  ...       300
Manchester City                             True  ...       411
Barcelona                                  False  ...       268
PSG                                         True  ...       512
Juventus                                   False  ...       NaN

[5 rows x 7 columns]

### **Operations on DataFrames**
> **DataFrame** c√≥ m·ªôt v√†i ƒëi·ªÉm t∆∞∆°ng ƒë·ªìng v·ªõi **Numpy arrays**

In [41]:
college_scores = np.array([[10, 7, 8], [4, 6, 3], [1, 3, 2], [7, 8, 6]])
scores = pd.DataFrame(college_scores, columns=["Math", "Literature", "English"], index=["Kiet", "Luu", "Thang", "Phuc"])
scores

       Math  Literature  English
Kiet     10           7        8
Luu       4           6        3
Thang     1           3        2
Phuc      7           8        6

√Åp d·ª•ng c√°c h√†m to√°n h·ªçc **NumPy** tr√™n **DataFrame**, h√†m ƒë∆∞·ª£c √°p d·ª•ng cho t·∫•t c·∫£ c√°c gi√° tr·ªã

In [56]:
np.sqrt(scores)

           Math  Literature   English
Kiet   3.162278    2.645751  2.828427
Luu    2.000000    2.449490  1.732051
Thang  1.000000    1.732051  1.414214
Phuc   2.645751    2.828427  2.449490

In [46]:
np.log(scores)

           Math  Literature   English
Kiet   2.302585    1.945910  2.079442
Luu    1.386294    1.791759  1.098612
Thang  0.000000    1.098612  0.693147
Phuc   1.945910    2.079442  1.791759

C√°c ph√©p to√°n s·ªë h·ªçc s·ª≠ d·ª•ng quy t·∫Øc **Broadcasting** tr√™n **DataFrame**

In [44]:
scores + 7

       Math  Literature  English
Kiet     17          14       15
Luu      11          13       10
Thang     8          10        9
Phuc     14          15       13

C√°c ph√©p to√°n ƒëi·ªÅu ki·ªán tr√™n **DataFrame**

In [45]:
scores >= 8

        Math  Literature  English
Kiet    True       False     True
Luu    False       False    False
Thang  False       False    False
Phuc   False        True    False

C√°c ph√©p to√°n t·ªïng h·ª£p, ch·∫≥ng h·∫°n nh∆∞ t√≠nh to√°n gi√° tr·ªã l·ªõn nh·∫•t, t·ªïng ho·∫∑c gi√° tr·ªã trung b√¨nh c·ªßa **DataFrame**, ..., √°p d·ª•ng cho t·ª´ng c·ªôt

In [50]:
scores.sum()

Math          22
Literature    24
English       19
dtype: int64

In [49]:
scores.mean()

Math          5.50
Literature    6.00
English       4.75
dtype: float64

Ph∆∞∆°ng th·ª©c **all()** c≈©ng l√† m·ªôt ph√©p to√°n t·ªïng h·ª£p: n√≥ ki·ªÉm tra xem t·∫•t c·∫£ c√°c gi√° tr·ªã tr√™n m·ªôt c·ªôt (d√≤ng) c√≥ ƒë√∫ng hay kh√¥ng

In [51]:
(scores > 5).all() # Ki·ªÉm tra xem t·∫•t c·∫£ gi√° tr·ªã trong c·ªôt c√≥ l·ªõn h∆°n 5 hay kh√¥ng

Math          False
Literature    False
English       False
dtype: bool

In [52]:
(scores > 5).all(axis=1) # Ki·ªÉm tra ƒëi·ªÅu ki·ªán t·ª´ng d√≤ng

Kiet      True
Luu      False
Thang    False
Phuc      True
dtype: bool

Ph∆∞∆°ng th·ª©c **any()** c≈©ng l√† m·ªôt ph√©p to√°n t·ªïng h·ª£p: n√≥ ki·ªÉm tra xem c√≥ t·ªìn t·∫°i gi√° tr·ªã tr√™n m·ªôt c·ªôt (d√≤ng) hay kh√¥ng

In [54]:
(scores >= 6).any(axis=1) # Ki·ªÉm tra ƒëi·ªÅu ki·ªán t·ª´ng d√≤ng

Kiet      True
Luu       True
Thang    False
Phuc      True
dtype: bool

### **Automatic alignment (CƒÉn ch·ªânh t·ª± ƒë·ªông)**
> Ho·∫°t ƒë·ªông nh∆∞ c·ªßa **Series**

In [62]:
bonus_college_scores = np.array([[0, np.nan, 5], [10, 8, 8], [6, 7, 2], [4, 4, 10], [10, 10, np.nan]])
bonus_scores = pd.DataFrame(bonus_college_scores, columns=["Math", "English", "Physics"], index=["Luu", "Toan", "Thang", "Phuc", "Kiet"])
bonus_scores

       Math  English  Physics
Luu     0.0      NaN      5.0
Toan   10.0      8.0      8.0
Thang   6.0      7.0      2.0
Phuc    4.0      4.0     10.0
Kiet   10.0     10.0      NaN

Khi cƒÉn ch·ªânh **DataFrames**, m·ªôt s·ªë c·ªôt v√† h√†ng ch·ªâ hi·ªÉn th·ªã ·ªü m·ªôt b√™n v√† do ƒë√≥ ch√∫ng b·ªã coi l√† b·ªã thi·∫øu ·ªü ph√≠a b√™n kia (NaN). Sau ƒë√≥, th√™m NaN v√†o m·ªôt s·ªë s·∫Ω t·∫°o ra NaN.

In [63]:
scores + bonus_scores

       English  Literature  Math  Physics
Kiet      18.0         NaN  20.0      NaN
Luu        NaN         NaN   4.0      NaN
Phuc      10.0         NaN  11.0      NaN
Thang      9.0         NaN   7.0      NaN
Toan       NaN         NaN   NaN      NaN

### **Pivot tables**
> **Pandas** h·ªó tr·ª£ b·∫£ng t·ªïng h·ª£p gi·ªëng nh∆∞ b·∫£ng t√≠nh cho ph√©p t√≥m t·∫Øt d·ªØ li·ªáu nhanh ch√≥ng

In [72]:
pivot_scores = scores.stack().reset_index()
pivot_scores.columns = ["Name", "Subject", "Score"]
pivot_scores

     Name     Subject  Score
0    Kiet        Math     10
1    Kiet  Literature      7
2    Kiet     English      8
3     Luu        Math      4
4     Luu  Literature      6
5     Luu     English      3
6   Thang        Math      1
7   Thang  Literature      3
8   Thang     English      2
9    Phuc        Math      7
10   Phuc  Literature      8
11   Phuc     English      6

Theo m·∫∑c ƒë·ªãnh h√†m **pivot_table()** t√≠nh gi√° tr·ªã trung b√¨nh c·ªßa m·ªói c·ªôt (c·ªôt ph·∫£i c√≥ ki·ªÉu d·ªØ li·ªáu s·ªë)

In [76]:
pd.pivot_table(pivot_scores, index="Name")

          Score
Name
Kiet   8.333333
Luu    4.333333
Phuc   7.000000
Thang  2.000000

ƒê·∫∑t thu·ªôc t√≠nh **aggfunc** ƒë·ªÉ thay ƒë·ªïi h√†m t·ªïng h·ª£p

In [87]:
pd.pivot_table(pivot_scores, index="Name", values="Score", aggfunc=np.min)

       Score
Name
Kiet       7
Luu        3
Phuc       6
Thang      1

**margins=True** ƒë·ªÉ t√≠nh t·ªïng s·ªë c·ªßa d√≤ng (c·ªôt)

In [93]:
pd.pivot_table(pivot_scores, index= ["Name", "Subject"], values="Score", margins=True)

                      Score
Name  Subject
Kiet  English      8.000000
      Literature   7.000000
      Math        10.000000
Luu   English      3.000000
      Literature   6.000000
      Math         4.000000
Phuc  English      6.000000
      Literature   8.000000
      Math         7.000000
Thang English      2.000000
      Literature   3.000000
      Math         1.000000
All                5.416667

### **Overview functions**

Load b·ªô d·ªØ li·ªáu

In [96]:
load_data = pd.read_csv('/content/drive/MyDrive/BostonTrain.csv')
load_data

         CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0     0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1     0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2     0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3     0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4     0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2
..        ...   ...    ...   ...    ...  ...  ...      ...     ...    ...   ...
395   8.71675   0.0  18.10     0  0.693  ...  666     20.2  391.98  17.12  13.1
396   5.87205   0.0  18.10     0  0.693  ...  666     20.2  396.90  19.37  12.5
397   7.67202   0.0  18.10     0  0.693  ...  666     20.2  393.10  19.92   8.5
398  38.35180   0.0  18.10     0  0.693  ...  666     20.2  396.90  30.59   5.0
399   9.91655   0.0  18.10     0  0.693  ...  666     20.2  338.16  29.97   6.3

[400 rows x 14 columns]

Ph∆∞∆°ng th·ª©c **head()** tr·∫£ v·ªÅ 5 h√†ng tr√™n c√πng. B·∫°n c√≥ th·ªÉ ch·ªâ ra s·ªë h√†ng mu·ªën xem

In [97]:
load_data.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

Ph∆∞∆°ng th·ª©c **tail()** ƒë·ªÉ xem 5 h√†ng d∆∞·ªõi c√πng. B·∫°n c√≥ th·ªÉ ch·ªâ ra s·ªë h√†ng mu·ªën xem

In [98]:
load_data.tail(10)

         CRIM   ZN  INDUS  CHAS    NOX  ...  TAX  PTRATIO       B  LSTAT  MEDV
390   6.96215  0.0   18.1     0  0.700  ...  666     20.2  394.43  17.11  15.1
391   5.29305  0.0   18.1     0  0.700  ...  666     20.2  378.38  18.76  23.2
392  11.57790  0.0   18.1     0  0.700  ...  666     20.2  396.90  25.68   9.7
393   8.64476  0.0   18.1     0  0.693  ...  666     20.2  396.90  15.17  13.8
394  13.35980  0.0   18.1     0  0.693  ...  666     20.2  396.90  16.35  12.7
395   8.71675  0.0   18.1     0  0.693  ...  666     20.2  391.98  17.12  13.1
396   5.87205  0.0   18.1     0  0.693  ...  666     20.2  396.90  19.37  12.5
397   7.67202  0.0   18.1     0  0.693  ...  666     20.2  393.10  19.92   8.5
398  38.35180  0.0   18.1     0  0.693  ...  666     20.2  396.90  30.59   5.0
399   9.91655  0.0   18.1     0  0.693  ...  666     20.2  338.16  29.97   6.3

[10 rows x 14 columns]

Ph∆∞∆°ng th·ª©c **info()** in ra b·∫£n t√≥m t·∫Øt n·ªôi dung t·ª´ng c·ªôt

In [99]:
load_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     400 non-null    float64
 1   ZN       400 non-null    float64
 2   INDUS    400 non-null    float64
 3   CHAS     400 non-null    int64
 4   NOX      400 non-null    float64
 5   RM       400 non-null    float64
 6   AGE      400 non-null    float64
 7   DIS      400 non-null    float64
 8   RAD      400 non-null    int64
 9   TAX      400 non-null    int64
 10  PTRATIO  400 non-null    float64
 11  B        400 non-null    float64
 12  LSTAT    400 non-null    float64
 13  MEDV     400 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 43.9 KB

Ph∆∞∆°ng th·ª©c **describe()** cung c·∫•p m·ªôt c√°i nh√¨n t·ªïng quan v·ªÅ c√°c gi√° tr·ªã t·ªïng h·ª£p tr√™n m·ªói c·ªôt

In [102]:
load_data.describe()

             CRIM          ZN       INDUS  ...           B       LSTAT        MEDV
count  400.000000  400.000000  400.000000  ...  400.000000  400.000000  400.000000
mean     1.750859   14.375000    9.416350  ...  379.854450   11.250575   24.334500
std      5.987782   25.397726    6.511713  ...   40.692472    6.770453    9.166082
min      0.006320    0.000000    0.460000  ...   70.800000    1.730000    5.000000
25%      0.066098    0.000000    4.125000  ...  381.187500    6.285000   18.900000
50%      0.160735    0.000000    7.015000  ...  392.525000    9.605000   22.500000
75%      0.731915   21.000000   13.920000  ...  396.540000   14.477500   28.250000
max     88.976200  100.000000   25.650000  ...  396.900000   37.970000   50.000000

[8 rows x 14 columns]