![alt tag](https://codelearn.io/Upload/Blog/xu-ly-du-lieu-voi-pandas-trong-python-63725977973.8696.jpg)

# **What is Pandas**
Th∆∞ vi·ªán **Pandas** cung c·∫•p c√°c c·∫•u tr√∫c d·ªØ li·ªáu hi·ªáu su·∫•t cao, d·ªÖ s·ª≠ d·ª•ng v√† c√°c c√¥ng c·ª• ph√¢n t√≠ch d·ªØ li·ªáu. C·∫•u tr√∫c d·ªØ li·ªáu ch√≠nh l√† DataFrame, c√≥ th·ªÉ coi ƒë√¢y l√† m·ªôt b·∫£ng 2D trong b·ªô nh·ªõ (gi·ªëng nh∆∞ m·ªôt b·∫£ng t√≠nh, v·ªõi t√™n c·ªôt v√† nh√£n). Nhi·ªÅu t√≠nh nƒÉng c√≥ s·∫µn trong Excel c√≥ s·∫µn theo ch∆∞∆°ng tr√¨nh, ch·∫≥ng h·∫°n nh∆∞ t·∫°o b·∫£ng t·ªïng h·ª£p, t√≠nh to√°n c·ªôt d·ª±a tr√™n c√°c c·ªôt kh√°c, v·∫Ω bi·ªÉu ƒë·ªì, v.v. C√≥ th·ªÉ nh√≥m c√°c h√†ng theo gi√° tr·ªã c·ªôt ho·∫∑c n·ªëi c√°c b·∫£ng gi·ªëng nh∆∞ trong SQL. **Pandas** c≈©ng r·∫•t gi·ªèi trong vi·ªác x·ª≠ l√Ω chu·ªói th·ªùi gian. üêº

# **Reference**
https://github.com/ageron/handson-ml2/blob/ce94de16f017f78b0991a3d3ae18b3de70b15118/tools_numpy.ipynb

# **Pandas: Import**

Import th∆∞ vi·ªán **pandas**. H·∫ßu h·∫øt m·ªçi ng∆∞·ªùi s·ª≠ d·ª•ng n√≥ d∆∞·ªõi d·∫°ng **pd**

In [1]:
import pandas as pd

# **Categories**
> Th∆∞·ªùng xuy√™n xu·∫•t hi·ªán c√°c gi√° tr·ªã ƒë·∫°i di·ªán cho danh m·ª•c, v√≠ d·ª• $1$ l√† n·ªØ, $2$ l√† nam, ho·∫∑c $A$ l√† t·ªët, $B$ l√† trung b√¨nh, $C$ l√† k√©m. **Pandas** c√≥ th·ªÉ x·ª≠ l√Ω nh·ªØng gi√° tr·ªã ƒë√≥ d·ªÖ d√†ng

In [2]:
city_ = pd.DataFrame([["CA", "San Francisco", 37.781334, -122.416728],
                      ["NY", "New York", 40.705649, -74.008344],
                      ["FL", "Miami", 25.791100, -80.320733],
                      ["OH", "Cleveland", 41.473508, -81.739791],
                      ["UT", "Salt Lake City", 40.755851, -111.896657]],
                      columns=["state", "city", "lat", "lng"])
city_

  state            city        lat         lng
0    CA   San Francisco  37.781334 -122.416728
1    NY        New York  40.705649  -74.008344
2    FL           Miami  25.791100  -80.320733
3    OH       Cleveland  41.473508  -81.739791
4    UT  Salt Lake City  40.755851 -111.896657

In [4]:
city_["eco_code"] = [12, 14, 14, 18, 12]
city_

  state            city        lat         lng  eco_code
0    CA   San Francisco  37.781334 -122.416728        12
1    NY        New York  40.705649  -74.008344        14
2    FL           Miami  25.791100  -80.320733        14
3    OH       Cleveland  41.473508  -81.739791        18
4    UT  Salt Lake City  40.755851 -111.896657        12

T·∫°o m·ªôt c·ªôt ph√¢n lo·∫°i c√°c m√£ $ecocode$ tr√™n

In [5]:
city_["economy"] = city_["eco_code"].astype('category')
city_["economy"].cat.categories

Int64Index([12, 14, 18], dtype='int64')

ƒê·∫∑t t√™n ph√¢n lo·∫°i cho m√£ $ecocode$ tr√™n

In [6]:
city_["economy"].cat.categories = ["Finance", "Energy", "Tourism"]
city_

  state            city        lat         lng  eco_code  economy
0    CA   San Francisco  37.781334 -122.416728        12  Finance
1    NY        New York  40.705649  -74.008344        14   Energy
2    FL           Miami  25.791100  -80.320733        14   Energy
3    OH       Cleveland  41.473508  -81.739791        18  Tourism
4    UT  Salt Lake City  40.755851 -111.896657        12  Finance